<div class="container">
  <div class="footer-content">
    <p>
      &copy; <span id="currentYear"></span> {{ currentYear }} | Shriya Rajessh
    </p>
    <div class="footer-icons">
      <a href="https://www.linkedin.com/in/shriya-r-a75330266" target="_blank">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://github.com/ShriyaR04" target="_blank">
        <i class="fab fa-github"></i>
      </a>
      <a
        href="https://mail.google.com/mail/?view=cm&to=shriyarajesh75@gmail.com"
        target="_blank"
        class="btn-contact"
      >
        <i class="fas fa-envelope"></i>
      </a>
    </div>
  </div>
</div>
