@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Antonio", sans-serif;
}
h3 {
  color: #eef0f3;
  font-family: "Antonio", sans-serif;
}

body {
  background: #0b0c10;
  color: #fff;
  font-family: "Antonio", sans-serif;
  margin: 0;
  padding: 0;
}
main {
  margin-top: 80px; /* matches navbar height */
}

.home-container {
  background: #141a20;
  padding: 40px 20px;
  border-radius: 8px;
  height: 88vh;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  position: relative;
  padding: 0 10%;
}

p {
  margin: 0;
  padding-top: 25%;
}

.hero-content .text {
  position: relative;
  color: #66fcf1;
  font-size: 5vw; /* Responsive font size */
  font-weight: 600;
}

/* @keyframes animate {
  40%,
  60% {
    left: calc(100% + 4px);
  }
  100% {
    left: 0%;
  }
} */

.cv-link {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  background-color: #1f2833; /* Button color */
  border-radius: 5px;
  transition: background-color 0.3s;
}

.cv-link:hover {
  background-color: #45a29e; /* Darker button color on hover */
}

/* Responsive styles */
@media (max-width: 1200px) {
  .hero-content .text {
    font-size: 6vw;
  }
}

@media (max-width: 992px) {
  .hero-content {
    padding: 0 5%;
  }

  .hero-content .text {
    font-size: 7vw;
  }
}

@media (max-width: 768px) {
  .hero-container,
  .hero-title .hero-author {
    height: auto;
    font-size: 50px !important; /* Adjust height for smaller screens */
  }
  .hero-author {
    line-height: 4rem !important;
  }

  .hero-content .text {
    font-size: 8vw;
  }

  p {
    padding-top: 10%;
  }
}
.home-title {
  font-size: 2rem;
  color: #e0f0ff;
  margin-bottom: 5rem;
  line-height: 5rem;
}
.hero-author {
  font-size: 3.5rem;
  color: #b0caf063;
  margin-bottom: 3rem;
}
.text-left {
  margin: 80px;
  text-align: start;
}
.text-left-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#dynamic-text {
  border-right: 2px solid #45a29e;
  padding-right: 5px;
  animation: blink-caret 0.7s step-end infinite;
  color: #45a29e;
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #45a29e;
  }
}

/* @media (max-width: 576px) {
  .hero-content .text {
    font-size: 10vw;
  }

  p {
    padding-top: 5%;
  }

  .cv-link {
    padding: 8px 16px;
    font-size: 0.9rem;
  }
} */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2833;
  padding: 16px 32px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.logo img {
  height: 40px;
}

nav {
  display: flex;
  gap: 24px;
}

nav a {
  color: #66fcf1;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

nav a:hover {
  color: #ffffff;
}
