<!-- <section id="contact"></section>
<div class="contact-title">
  <h1>Contact me.</h1>
</div>
<div class="contact-container">
  <form
    (ngSubmit)="onSubmit(contactForm)"
    #contactForm="ngForm"
    class="contact-form"
  >
    <div class="form-group">
      <label for="name">Full Name</label>
      <input
        type="text"
        id="name"
        name="name"
        ngModel
        required
        class="form-control"
        placeholder="Your name"
      />
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        name="email"
        ngModel
        required
        class="form-control"
        placeholder="emailadress@gmail.com"
      />
    </div>

    <div class="form-group">
      <label for="subject">Subject</label>
      <input
        type="text"
        id="subject"
        name="subject"
        ngModel
        required
        class="form-control"
        placeholder="subject"
      />
    </div>

    <div class="form-group">
      <label for="message">Message</label>
      <textarea
        id="message"
        name="message"
        ngModel
        required
        class="form-control"
        placeholder="xyz"
      ></textarea>
    </div>

    <button type="submit" class="btn-submit">Send Message</button>
  </form>
</div> -->
<section id="contact">
  <div class="contact-title">
    <h1>Contact Me.</h1>
  </div>

  <div class="contact-container">
    <div class="contact-box">
      <p class="contact-text">📞 Phone: +91-6383082599</p>
      <div class="contact-buttons">
        <a
          href="https://mail.google.com/mail/?view=cm&to=shriyarajesh75@gmail.com"
          target="_blank"
          class="btn-contact"
        >
          Email Me
        </a>

        <a
          href="https://www.linkedin.com/in/shriya-r-a75330266/"
          class="btn-contact"
          target="_blank"
          >Connect on LinkedIn</a
        >
      </div>
    </div>
  </div>
</section>
